.container {
  position: relative;
  width: 100%;
  margin: 0 2rem;
  padding: 4rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.7rem;
  background-color: var(--white);
  z-index: 2;
}

.container hr {
  margin: 0.25rem auto 0 auto;
}

.info {
  margin-top: 2rem;
}

.item {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.item svg {
  width: 4rem;
  fill: var(--dark-blue);
}

.item span {
  font-weight: 400;
  margin: 0 0 0.4rem 1rem;
  letter-spacing: 0.025rem;
  color: var(--dark-blue);
}

@media (max-width: 279px) {
  .container {
    height: 100%;
    margin: 0;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0rem;
  }
}

@media (min-width: 280px) and (max-width: 320px) {
  .item svg {
    width: 3rem;
  }
}

@media (min-width: 768px) {
  .container {
    width: 45rem;
    padding: 8rem 6rem;
  }
}
