@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');

:root {
  --main-font: 'Poppins', sans-serif;
  --secondary-font: 'Noto Sans JP', sans-serif;

  --white: #ffffff;
  --gray: #eeeeee;
  --dark-gray: #8b8b8b;
  --red: #ed4e53;
  --yellow: #fccc4b;
  --dark-blue: #1d2228;
  --background: #14171b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--secondary-font);
  color: var(--dark-blue);
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
button,
input {
  font-family: var(--main-font);
}

p,
span {
  font-size: 1.55rem;
}

h1 {
  font-size: 3.2rem;
  font-weight: 900;
  letter-spacing: -0.1rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: -0.025rem;
  text-transform: uppercase;
  color: var(--white);
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.5;
  letter-spacing: 0.025rem;
}

span {
  font-weight: 700;
  color: var(--gray);
}

hr {
  width: 4rem;
  border-style: none;
  border-top-style: dotted;
  border-width: 0.5rem;
  border-color: var(--yellow);
}

button {
  font-size: 1.5rem;
  padding: 0.25rem 1.5rem;
  border: none;
  border-radius: 0.7rem;
  color: var(--gray);
  background-color: var(--red);
}

input {
  font-size: 1.4rem;
  width: 4rem;
  padding: 0.25rem 0;
  border: none;
  text-align: center;
  border-radius: 0.7rem;
  color: var(--dark-gray);
  background-color: var(--gray);
}

@media (max-width: 279px) {
  h1 {
    font-size: 2.4rem;
  }

  p,
  span {
    font-size: 1.45rem;
  }
}

@media (min-width: 280px) and (max-width: 320px) {
  h1 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  p,
  span {
    font-size: 1.45rem;
  }
}

@media (min-width: 400px) and (max-width: 450px) {
  h3 {
    font-size: 1.6rem;
  }

  p,
  span {
    font-size: 1.65rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  p,
  span {
    font-size: 1.95rem;
  }

  hr {
    width: 7rem;
    border-width: 0.8rem;
  }

  button {
    font-size: 1.6rem;
  }
}
